html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
@font-face{font-family:'entypo';src:url("../fonts/entypo.eot");src:url("../fonts/entypo.eot?#iefix") format('embedded-opentype'),url("../fonts/entypo.woff") format('woff'),url("../fonts/entypo.ttf") format('truetype'),url("../fonts/entypo.svg#entypo") format('svg');font-weight:normal;font-style:normal}








@font-face {
	font-family: 'SecuritySciences';
	src:url('../fonts/SecuritySciences.eot');
	src:url('../fonts/SecuritySciences.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SecuritySciences.woff') format('woff'),
		url('../fonts/SecuritySciences.ttf') format('truetype'),
		url('../fonts/SecuritySciences.svg#SecuritySciences') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'SecuritySciences';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico"] {
*/
.ico.icon-01, .ico.icon-02, .ico.icon-03, .ico.icon-04, .ico.icon-05, .ico.icon-06, .ico.icon-07, .ico.icon-08, .ico.icon-10, .ico.icon-11, .ico.icon-12, .ico.icon-13, .ico.icon-14, .ico.icon-15, .ico.icon-16, .ico.icon-17, .ico.icon-18, .ico.icon-19, .ico.icon-20, .ico.icon-21, .ico.icon-22, .ico.icon-23, .ico.icon-24, .ico.icon-25, .ico.icon-26, .ico.icon-27, .ico.icon-28, .ico.icon-29, .ico.icon-30, .ico.icon-31, .ico.icon-32, .ico.icon-33, .ico.icon-34, .ico.icon-35, .ico.icon-36, .ico.icon-37, .ico.icon-38, .ico.icon-39, .ico.icon-40, .ico.icon-41, .ico.icon-42, .ico.icon-43, .ico.icon-44 {
	font-family: 'SecuritySciences';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ico.logo:before {
	content: "\e000";
}
.ico.home:before {
	content: "\e001";
}
.ico.compass:before {
	content: "\e002";
}
.ico.users:before {
	content: "\e003";
}
.ico.cart:before {
	content: "\e004";
}
.ico.graph:before {
	content: "\e005";
}
.ico.cog:before {
	content: "\e006";
}
.ico.home-security:before {
	content: "\e007";
}
.ico.medical:before {
	content: "\e008";
}
.ico.iphone:before {
	content: "\e009";
}
.ico.child:before {
	content: "\e00a";
}
.ico.dog:before {
	content: "\e00b";
}
.ico.car:before {
	content: "\e00c";
}
.ico.watch:before {
	content: "\e00d";
}
.ico.lifesaver:before {
	content: "\e00e";
}
.ico.low-battery:before {
	content: "\e00f";
}
.ico.speedometer:before {
	content: "\e010";
}
.ico.enter:before {
	content: "\e011";
}
.ico.exit:before {
	content: "\e012";
}
.ico.impact:before {
	content: "\e013";
}
.ico.tools:before {
	content: "\e014";
}
.ico.minus-square:before {
	content: "\e015";
}
.ico.plus-square:before {
	content: "\e016";
}
.ico.delete-square:before {
	content: "\e017";
}
.ico.minus-circle:before {
	content: "\e018";
}
.ico.close-circle:before {
	content: "\e019";
}
.ico.fence:before {
	content: "\e01a";
}
.ico.pencil:before {
	content: "\e01b";
}
.ico.trash:before {
	content: "\e01c";
}
.ico.disk:before {
	content: "\e01d";
}
.ico.search:before {
	content: "\e01e";
}
.ico.bell:before {
	content: "\e01f";
}
.ico.undo:before {
	content: "\e020";
}
.ico.redo:before {
	content: "\e021";
}
.ico.question:before {
	content: "\e022";
}
.ico.info:before {
	content: "\e023";
}
.ico.caution:before {
	content: "\e024";
}
.ico.close:before {
	content: "\e025";
}
.ico.phone:before {
	content: "\e026";
}
.ico.speach-bubble:before {
	content: "\e027";
}
.ico.polygon:before {
	content: "\e028";
}
.ico.circle:before {
	content: "\e029";
}
.ico.rectangle:before {
	content: "\e02a";
}









.cf{zoom:1}
.cf:before,.cf:after{content:"";display:table}
.cf:after{clear:both}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

html,body{
	width:100%;
	height:100%;
	font:14px "Roboto",Helvetica,Arial,sans-serif;
	font-weight:300;color:#999;
	background-color:#bfc5cb;
	overflow:hidden
}
a{
	color:#2a7ddc;
	text-decoration:none
}
h1{
	color:#000
}
input{
	font:14px "Roboto",Helvetica,Arial,sans-serif
}

.login {
	width:620px;
	height:325px;
	padding:35px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-163px 0 0 -310px;
	background:#f9f9f6;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 5px 0 #2a7ddc, 0 1px 1px rgba(0,0,0,0.2);
	box-shadow:inset 0 5px 0 #2a7ddc, 0 1px 1px rgba(0,0,0,0.2);
}
.login.signup {
	height:360px;
	margin:-180px 0 0 -310px
}
.login a {
	color:#2a7ddc
}
.login a:hover {
	text-decoration:underline
}
.login h2.logo {
	position:absolute;
	top:35px;
	right:0;
	bottom:35px;
	left:35px;
	width:240px;
	text-indent:-99999px;
	background:url("../img/login-logo.png") left center no-repeat;
	border-right:1px solid #d5d5d2;
	-webkit-box-shadow:1px 0 0 #fff;
	box-shadow:1px 0 0 #fff
}
.login form {
	position:absolute;
	top:35px;
	right:35px;
	bottom:35px;
	left:310px;
	padding:20px 0;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-o-transition:.5s;
	-ms-transition:.5s;
	transition:.5s
}
.login form h1.title {
	font-size:18px;
	color:rgba(0,0,0,0.5);
	text-shadow:0 1px 0 #fff;
	font-weight:500;
	margin:5px 0 15px 0;
	text-transform: uppercase;
}
.login input[type=text],
.login input[type=password]{
	font:18px "Roboto",Helvetica,Arial,sans-serif;
	width:100%;
	margin-bottom:10px;
	padding:8px 10px;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.01)), color-stop(1, rgba(255,255,255,0.01)));
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(255,255,255,0.01) 100%);
	background-image:-moz-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(255,255,255,0.01) 100%);
	background-image:-o-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(255,255,255,0.01) 100%);
	background-image:-ms-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(255,255,255,0.01) 100%);
	background-image:linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(255,255,255,0.01) 100%);
	border:1px solid #d5d5d2;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.06);
	box-shadow:0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,0.06);
	-webkit-transition:.25s;
	-moz-transition:.25s;
	-o-transition:.25s;
	-ms-transition:.25s;
	transition:.25s
}
.login input[type=password] {
	-webkit-text-security:circle !important
}
.login input[type=text]:focus,
.login input[type=password]:focus {
	outline:none;
	border:1px solid #8EBAEC;
	-webkit-box-shadow:0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,0.03);
	box-shadow:0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,0.03);
	background:#fff;
	background-image:none
}
.login input[type=submit]{
	width:100%;
	color:#fff;
	text-shadow:0 1px 0 #000;
	border:1px solid #1a3452;
	background-color:#2a7ddc;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.05)), color-stop(1, rgba(0,0,0,0.05)));
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
	background-image:-moz-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
	background-image:-o-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
	background-image:-ms-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
	background-image:linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.06),0 1px 0 #fff;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.06),0 1px 0 #fff;
	-webkit-border-radius:3px;
	border-radius:3px;
	font:16px "Roboto",Helvetica,Arial,sans-serif;
	font-weight:400;
	text-transform:uppercase;
	padding:8px 10px;
	margin-bottom:10px
}
.login input[type=submit]:active {
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.05)), color-stop(1, rgba(0,0,0,0.05)));
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
	background-image:-moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
	background-image:-o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
	background-image:-ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
	background-image:linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.5),0 1px 0 #fff;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.5),0 1px 0 #fff;
	padding:9px 10px 7px 10px;
}

.login a.forgot{
	float:right;
	color:rgba(0,0,0,0.75);
	font-size:13px;
}
.login a.forgot:hover{
	text-decoration:underline
}
.login input[type=checkbox]{
	margin-left:0
}
.login label{
	color:rgba(0,0,0,0.75);
	font-size:13px
}
.login .login-link,.login .signup-link{
	position:absolute;
	bottom:-25px;
	right:5px;
	color:#818487;
	font-weight:400
}
.login .social-login{
	position:absolute;
	top:18px;
	right:0
}
.login .social-login a{
	display:block;
	float:left;
	width:30px;
	height:30px;
	margin-left:10px;
	text-indent:-99999px;
	position:relative;
	background:url("../img/social-login-sprite.png") no-repeat
}
.login .social-login a.gplus{background-position:0 0}
.login .social-login a.twitter{background-position:-32px 0}
.login .social-login a.fb{background-position:-64px 0}
.login .social-login a span.hover{
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:url("../img/social-login-sprite.png") no-repeat;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
	transition:.2s
}
.login .social-login a:hover span.hover{
	opacity:1;
	-ms-filter:none;
	filter:none
}
.login .social-login a.gplus span.hover{background-position:0 -33px}
.login .social-login a.twitter span.hover{background-position:-32px -33px}
.login .social-login a.fb span.hover{background-position:-64px -33px}



body {
	overflow: hidden;
}

nav.primary {
	background: #2d3033;
	position: fixed;
	top:0;right:0;bottom:0;left:0;
	width: 80px;
	padding: 12px 10px;
}
nav.primary a {
	display: block;
	width: 60px;
	margin: 0 0 10px 0;
}

nav.primary a.settings {
	position: absolute;
	bottom: 0px;
	left: 10px;
}

nav.primary a .ico {
	display: block;
	width: 60px;
	text-align: center;
	color: rgba(255,255,255,.25);
	font-family: 'entypo';
	font-size: 30px;
	line-height: 1.3em;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
nav.primary a.logo .ico {
	width: 32px;
	height: 32px;
	background: url(../img/logo-ico.png) no-repeat;
	margin: 10px auto;
}
nav.primary a .txt {
	display: block;
	text-align: center;
	color: rgba(255,255,255,.25);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
nav.primary a.logo .txt {
	overflow: hidden;
	width: 0;
	height: 0;
	text-indent: -99999px;
}
nav.primary a:hover .ico,
nav.primary a:hover .txt {
	color: rgba(255,255,255,.5);
}

nav.primary .indicator {
	display: block;
	position: absolute;
	top: 0;
	right: 0px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right: 8px solid #8e9499;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}

.wrap {
	position: fixed;
	top:0;right:0;bottom:0;left:80px;
}

.sidebars {
	background: #8e9499;
	color: white;
	position: absolute;
	top:0;right:0;bottom:0;left:0;
	width: 300px;
	padding: 12px 10px;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}

.home nav.primary { background: #1a2735; }
.devices nav.primary { background: #29351d; }
.users nav.primary { background: #432e15; }
.billing nav.primary { background: #411d11; }
.reports nav.primary { background: #431535; }

.home nav.primary a.home .ico, .home nav.primary a.home .txt { color: #2a7ddc; }
.devices nav.primary a.devices .ico, .devices nav.primary a.devices .txt { color: #7fbb45; }
.users nav.primary a.users .ico, .users nav.primary a.users .txt { color: #dd9c10; }
.billing nav.primary a.billing .ico, .billing nav.primary a.billing .txt { color: #cc481a; }
.reports nav.primary a.reports .ico, .reports nav.primary a.reports .txt { color: #b93e92; }

.home nav.primary .indicator { border-right-color: #2a7ddc; }
.devices nav.primary .indicator { border-right-color: #7fbb45; }
.users nav.primary .indicator { border-right-color: #dd9c10; }
.billing nav.primary .indicator { border-right-color: #cc481a; }
.reports nav.primary .indicator { border-right-color: #b93e92; }

.home .sidebars { background: #2a7ddc; }
.devices .sidebars { background: #7fbb45; }
.users .sidebars { background: #dd9c10; }
.billing .sidebars { background: #cc481a; }
.reports .sidebars { background: #b93e92; }

.sidebars .sidebar,
.modules .module { 
	position: absolute;
	top:0;right:0;bottom:0;left:0;
	opacity: 0;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}

.sidebars .sidebar {
	overflow: hidden;
	width: 300px;
}


.sidebar-hidden .sidebars {
	width: 0;
}

.sidebar-hidden .modules {
	left: 6px;
}

.modules {
	position: absolute;
	top:0;right:0;bottom:0;left:300px;
	background: white;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}

.home .sidebars > .home,
.devices .sidebars > .devices,
.users .sidebars > .users,
.billing .sidebars > .billing,
.reports .sidebars > .reports,
.home .modules > .home,
.devices .modules > .devices,
.users .modules > .users,
.billing .modules > .billing,
.reports .modules > .reports { z-index:1; opacity: 1; }

.sidebars h2 {
	font-size: 18px;
	padding: 20px;
}

.sidebars .home ul {
	border-top: 1px solid rgba(255,255,255,.12);
}

.sidebars .home ul li a {
	display: block;
	color: rgba(255,255,255,0.66);
	padding: 10px 20px;
	border-bottom: 1px solid rgba(255,255,255,.12);
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	transition: .1s;
}

.sidebars .home ul li a:hover {
	color: white;
}

.modules a {
	font-weight: 400;
	color: rgba(0,0,0,0.66);
}
.modules a:hover {
	text-decoration: underline;
}

.modules div .head {
	height: 60px;
	padding: 20px;
	position: relative;
	   -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); 
}

.modules div .head h2 {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.66);
}

.modules div .head .search-wrap {
	position: absolute;
    top: 17px;
    right: 15px;
}
.sidebars .search-wrap {
	position: relative;
}

.search-wrap:before {
	content: "\e01e";
	display: block;
	width: 14px;
	height: 14px;
	font-family: 'SecuritySciences';
	font-size: 14px;
	position: absolute;
	top: 7px;
	left: 7px;
	color: rgba(0, 0, 0, 0.33);
}

.modules div .head input.search {
	border: 1px solid rgba(0, 0, 0, 0.2);
	   -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
            border-radius: 50px; 
    padding: 5px 5px 5px 30px;
    outline: none;
    width: 225px;
    margin: 0;
}

.modules .content {
	position: absolute;
	top:60px;right:0;bottom:0;left:0;
	overflow: scroll;
}

.sidebars > .sidebar-toggle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	opacity: 1;
	z-index: 15;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	font-family: 'entypo';
	color: white;
	font-size: 28px;
	cursor: pointer;
	opacity: 0;
	top: 53px;
	right: 20px;
}

.devices .sidebars > .sidebar-toggle {
	display: block;
	opacity: 1;	
}
.sidebar-hidden.devices .sidebars > .sidebar-toggle {
	top: 0;
	right: -10px;
	background: #7FBB45;
	padding: 2px 10px;
	   -moz-border-radius: 0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
            border-radius: 0 0 4px 0; 
}

.sidebar-toggle .show {
	display: none;
}
.sidebar-toggle .hide {
	display: block;
}
.sidebar-hidden .sidebar-toggle .hide {
	display: none;
}
.sidebar-hidden .sidebar-toggle .show {
	display: block;
}


.sidebars ul.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0 solid transparent;
}

.sidebars ul.tabs li.tab {
	list-style: none;
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
}

.sidebars ul.tabs li.tab:last-child {
	margin-right: 0;
}

.sidebars ul.tabs li.tab a {
	display: block;
	width: 99px;
	padding: 10px;
	margin: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.15);
	border: 0 solid transparent;
	text-transform: uppercase;
	font-weight: 500;
	color: rgba(255,255,255,0.66);
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	transition: .1s;
}
.sidebars ul.tabs li.tab a:hover {
	background: rgba(0, 0, 0, 0.25);
	color: rgba(255,255,255,0.8);
}

.sidebars ul.tabs li.tab a.active {
	background: transparent;
	color: white;
}

.sidebars .content {
	position: absolute;
	top:119px;right:0;bottom:0;left:0;
	overflow: scroll;
}
.sidebars .home .content,
.sidebars .devices .content,
.sidebars .reports .content {
	top:61px;
}






.content ul li {
	color: rgba(0,0,0,0.66);
	padding: 20px 20px 20px 50px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	position: relative;	
}
.content ul li .sub {
	font-size: 12px;
	color: rgba(0,0,0,0.5);
}
.sidebars .content {
	border-top: 1px solid rgba(255,255,255,0.2);
}
.sidebars .content ul li {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.75);
	cursor: pointer;
	position: relative;
}
.sidebars .home .content ul li {
	border-bottom: 0px solid transparent;
	color: rgba(255,255,255,0.75);
	cursor: default;
	padding: 0;
}
.sidebars .home .content ul li a {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.75);
	cursor: pointer;
	padding: 20px 20px 20px 50px;
	font-weight: 300;
	position: relative;
}
.sidebars .content h3 {
	font-weight: 500;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	background: rgba(255,255,255,0.125);
}

.sidebars .content ul li:hover {
	background: rgba(255,255,255,0.1);
}
.sidebars .content ul li a:hover {
	background: rgba(255,255,255,0.1);
}
.sidebars .home .content ul li:hover {
	background: transparent;
}
.sidebars .content ul li:hover {
	background: rgba(255,255,255,0.1);
}
.sidebars .content ul li.active {
	background: white;
}

.sidebars .content ul li a {
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.sidebars .content ul li .sub {
	color: rgba(255,255,255,0.5);
}

.sidebars .home .content ul li.active      { color: #2a7ddc; }
.sidebars .home .content ul li.active a    { color: #2a7ddc; }
.sidebars .home .content ul li.active .sub { color: #2a7ddc; }

.sidebars .devices .content ul li.active      { color: #7fbb45; }
.sidebars .devices .content ul li.active a    { color: #7fbb45; }
.sidebars .devices .content ul li.active .sub { color: #7fbb45; }

.sidebars .users .content ul li.active      { color: #dd9c10; }
.sidebars .users .content ul li.active a    { color: #dd9c10; }
.sidebars .users .content ul li.active .sub { color: #dd9c10; }

.sidebars .billing .content ul li.active      { color: #cc481a; }
.sidebars .billing .content ul li.active a    { color: #cc481a; }
.sidebars .billing .content ul li.active .sub { color: #cc481a; }

.sidebars .reports .content ul li.active      { color: #b93e92; }
.sidebars .reports .content ul li.active a    { color: #b93e92; }
.sidebars .reports .content ul li.active .sub { color: #b93e92; }



.sidebars .home ul li a:before {
	content:'';
	display: block;
	width: 24px;
	height: 24px;
	font-family: 'SecuritySciences';
	font-size: 24px;
	position: absolute;
	top: 15px;
	left: 15px;
}


.sidebars .home ul li.home a:before {
	content: "\e007";
}
.sidebars .home ul li.car-nav a:before {
	content: "\e002";
}
.sidebars .home ul li.bracelet a:before {
	content: "\e008";
}
.sidebars .home ul li.phone a:before {
	content: "\e009";
}
.sidebars .home ul li.child a:before {
	content: "\e00a";
}
.sidebars .home ul li.pet a:before {
	content: "\e00b";
}
.sidebars .home ul li.car a:before {
	content: "\e00c";
}
.sidebars .home ul li.watch a:before {
	content: "\e00d";
}


.content ul li:before {
	content:'';
	display: block;
	width: 24px;
	height: 24px;
	font-family: 'SecuritySciences';
	font-size: 24px;
	position: absolute;
	top: 22px;
	left: 15px;
	color: rgba(0, 0, 0, 0.5);
}
.sidebars .content ul li:before {
	color: white;
	top: 20px;
}
.sidebars .content ul li:before {
	color: white;
}


.content ul li.home:before,
.devices-pane .titlebar.home:before {
	content: "\e007";
}
.content ul li.car-nav:before,
.devices-pane .titlebar.car-nav:before {
	content: "\e002";
}
.content ul li.bracelet:before,
.devices-pane .titlebar.bracelet:before {
	content: "\e008";
}
.content ul li.phone:before,
.devices-pane .titlebar.phone:before {
	content: "\e009";
}
.content ul li.child:before,
.devices-pane .titlebar.child:before {
	content: "\e00a";
}
.content ul li.pet:before,
.devices-pane .titlebar.pet:before {
	content: "\e00b";
}
.content ul li.car:before,
.devices-pane .titlebar.car:before {
	content: "\e00c";
}
.content ul li.watch:before,
.devices-pane .titlebar.watch:before {
	content: "\e00d";
}
.content ul li.sos:before {
	content: "\e00e";
}
.content ul li.battery:before {
	content: "\e00f";
}
.content ul li.speed:before {
	content: "\e010";
}
.content ul li.enter:before {
	content: "\e011";
}
.content ul li.exit:before {
	content: "\e012";
}
.content ul li.fall:before {
	content: "\e013";
}
.content ul li.tamper:before {
	content: "\e014";
}
.content ul li.fence:before {
	content: "\e01a";
}

.sidebars .home .content ul li:before {
	content: '';
}


.sidebars .search-bar {
	padding: 15px;
	background: rgba(255,255,255,0.15);
}

.sidebars .devices .search-bar {
	padding: 15px;
	background: transparent;
}

.sidebars .search-bar input.search {
	border: 1px solid rgba(0, 0, 0, 0.2);
	   -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
            border-radius: 50px; 
    padding: 5px 5px 5px 30px;
    outline: none;
    width: 270px;
    margin: 0;
}

.sidebars .devices .search-bar input.search {
	width: 240px;
}

.sidebars .pane {
	opacity: 0;
	z-index: 0;
	position: absolute;
	top:37px;right:0;bottom:0;left:0;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}
.sidebars .pane.active {
	opacity: 1;
	z-index: 10;
}

.sidebars .geofences.pane ul li .title,
.sidebars .devices.pane ul li .title {
	font-weight: 500;
}

.sidebars .devices .devices.pane .content {
	bottom: 65px;
}

.sidebars .devices a.add-device {
	color: white;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 24px 60px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 65px;
	background: rgba(255,255,255,0.1);
	   -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); 
}
.sidebars .devices a.add-device:before {
	content: "\e016";
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 20px;
	left: 20px;
	color: white;
	font-family: 'SecuritySciences';
	font-size: 28px;
	text-align: center;
}

#devices-map {
	position: absolute;
	top:0;right:0;bottom:0;left:0;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}

.devices-pane {
	width: 300px;
	position: absolute;
	top:0;right:-300px;bottom:0;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}

.devices-pane .titlebar {
	padding: 20px 20px 20px 55px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
	position: relative;
}

.devices-pane .titlebar:before {
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 20px;
	left: 15px;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'SecuritySciences';
	font-size: 32px;
	text-align: center;
}

.devices-pane h3.title {
	color: #6c6c6c;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.devices-pane .subtitle {
	color: #a4a4a4;
	font-size: 12px;
	font-weight: bold;
}

.devices-pane > .actions {
	padding: 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.devices-pane > .actions a {
	display: block;
	padding: 50px 0 0 0;
	width: 75px;
	color: #7fbb45;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.1); 
	position: relative;
}

.devices-pane > .actions a:before {
	content: '';
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top:10px;
	left: 50%;
	margin-left: -16px;
	color: #7fbb45;
	font-family: 'SecuritySciences';
	font-size: 28px;
	text-align: center;
}
.devices-pane > .actions a.alert:before {
	content: "\e01f";
}
.devices-pane > .actions a.text:before {
	content: "\e027";
}
.devices-pane > .actions a.call:before {
	content: "\e026";
}
.devices-pane > .actions a.directions:before {
	content: "\e002";
}

.devices-pane > .actions a:last-child {
	border-right: 0px solid transparent; 
}

.devices-pane > h4 {
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	font-weight: 500;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
	padding: 15px;
}

.devices-pane .content {
	top: 213px;
}




/* For retina display */

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx){


	.login h2.logo{
		background:url("img/login-logo@2x.png") left center no-repeat;
		-webkit-background-size:201px 35px;
		-moz-background-size:201px 35px;
		background-size:201px 35px
	}
	.login .social-login a,
	.login .social-login a span.hover {
		background-image:url("img/social-login-sprite@2x.png");
		-webkit-background-size:93px 63px;
		-moz-background-size:93px 63px;
		background-size:93px 63px
	}

	nav.primary a.logo .ico {
		width: 32px;
		height: 32px;
		background-image: url(../img/logo-ico@2x.png);
		background-size: 32px 32px;
	}

}